[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "<4.0"
wheel = "*"
pipfile = "*"
python-decouple = {version = ">=3.3,<4.0"}
gunicorn = "*"

[requires]
python_version = "3.8"
